SPRING_PROFILES_ACTIVE=local
DB_JDBC_URL=jdbc:mysql://localhost:3306/nerdinary
DB_USER=root
DB_PASSWORD=password
JWT_SECRET=change-me
ACCESS_TOKEN_VALIDITY_IN_MILLISECONDS=3600000
REFRESH_TOKEN_VALIDITY_IN_MILLISECONDS=1209600000
